@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Epilogue', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	border: 0;
}

.landing__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #010032;
	color: white;
	padding: 34px 80px;
}

.landing__wrapper header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.landing__wrapper nav {
	display: flex;
	gap: 40px;
}

.nav__cart {
	display: flex;
	gap: 15px;
	align-items: center;
}

.nav__burger {
	display: flex;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
}

.nav__burger span {
	background-color: #f1f2f6;
	width: 25px;
	height: 2px;
	border-radius: 20px;
}
