* {
	margin: 0;
	padding: 0;
}

body {
	color: #f0f0f0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #333333;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 44px 15px;
	position: relative;
}

a {
	text-decoration: none;
	color: #f0f0f0;
}

.navbar-logo {
	font-size: 25px;
}

.navbar-list {
	margin-left: 10px;
}

.navbar-list-elements {
	display: inline-block;
	margin-left: 42px;
}

.navbar-button {
	padding: 10px 30px;
	border-radius: 8px;
	border: none;
	background-color: #626262;
	color: #f0f0f0;
}

.wrapper {
	position: relative;
}
.wrapper::after {
	position: absolute;
	content: '';
	background-color: rgba(0, 0, 0, 0.945);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main-text {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0%;
	z-index: 2;
}

.main-text > h1 {
	margin: 20px;
}

.main-down {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 5%;
	z-index: 2;
}

.main-down a {
	border: 1px solid white;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	padding: 5px;
}
footer {
	text-align: center;
}

footer > h1 {
	margin: 15px;
}

.post-form {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: fit-content;
	border: 2px dashed;
	border-radius: 10px;
	background-color: teal;
}

label {
	display: block;
	margin: 15px;
}

label > span {
	display: inline-block;
	width: 100px;
}
label > input {
	border-radius: 5px;
	border: 1px solid #eee;
	transition: 0.3s border-color;
}
.form-button-close {
	position: absolute;
	right: -3%;
	top: -10%;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: red;
	border: none;
	color: white;
}
.form-button {
	border-radius: 5px;
	color: white;
	background-color: black;
	width: 13rem;
	padding: 4px;
	margin: 15px auto 15px;
	display: block;
}
