header {
	padding: 50px 100px 33px 100px;
}

.navbar__logo {
	font-size: 32px;
	line-height: 43px;
	width: 148px;
}

nav {
	display: flex;
	align-items: center;
	gap: 92px;
}

.navbar__link {
	font-weight: var(--weight-text);
	font-family: var(--font-text);
	font-size: 20px;
	line-height: 27px;
	color: var(--color-primary);
}

.navbar__button {
	font-size: 20px;
	line-height: 27px;
	font-weight: var(--weight-text);
	font-family: var(--font-text);
	color: white;
	background-color: var(--color-secondary);
	padding: 10px 35px;
}

section {
	padding: 50px 100px 33px 100px;
	justify-content: flex-end;
}

.section__info {
	background-color: var(--color-secondary);
	width: 786px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: white;
	padding: 92px 54px 45px 89px;
	position: absolute;
	left: 100px;
}

.info__heading {
	font-family: var(--font-heading);
	font-weight: var(--weight-heading);
	font-size: 64px;
	line-height: 85px;
	width: 643px;
}

.info__subtitle {
	font-weight: var(--weight-text);
	font-family: var(--font-text);
	font-size: 20px;
	line-height: 180%;
}